*{
  color: #333333;
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

h1{
  font-size: 18px;
  font-weight: 700;
}

p{
  font-size: 14px;
  margin: 15px 0;
}